/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    margin-bottom: 10px;

}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

search-bar button:hover {
    background-color: #555;
}

/* Main Content Styles */
main {
    padding: 80px 1em 1em; /* Adjusted padding-top to account for fixed header */
}

.intro, .features {
    margin-bottom: 2em;
}

.intro h2, .features h3 {
    color: #4CAF50;
}

.intro p, .features p {
    line-height: 1.6;
}

/* Feature Section Styles */
.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em;
    flex: 1 1 calc(33% - 2em);
    box-sizing: border-box;
    max-width: calc(33% - 2em);
    text-align: center;
}

.feature h3 {
    margin-top: 0;
}

.feature p {
    margin-bottom: 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
