.song-card {
    position: relative; /* Ensure relative positioning for absolute positioning of like button */
    width: calc(30% - 20px); /* Adjust card width for grid layout */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content space between */
}

.card-content {
    flex: 1; /* Take remaining space */
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-artist {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.audio-controls {
    margin-top: auto; /* Push audio controls to the bottom of card */
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.like-button i {
    font-size: 24px;
    color: rgb(232, 232, 247); /* Default color */
    cursor: pointer;
}

.like-button.active i {
    color: #e74c3c; /* Liked color */
}

/* Exclude like button from inheriting certain styles */
.song-card .card-content:not(.like-button) {
    /* Add styles here that should not apply to the like button */
    /* Example: */
    padding: 0; /* Reset padding for elements within .card-content */
    background-color: transparent; /* Reset background color */
}

@media (max-width: 768px) {
    .song-card {
        width: calc(50% - 20px); /* Adjust card width for smaller screens */
    }
}

@media (max-width: 576px) {
    .song-card {
        width: calc(100% - 20px); /* Adjust card width for mobile screens */
    }
}
